body{
    background-color: #353535;
    margin: auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 75vw;
}
.input-sect{
    background-color: #6943FF;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 85vw;
    max-width: 600px;
}

.title{
    color: white;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

input[type="text"]{
    height: 100px;
    width: 125px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.convert-btn{
    height: 35px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.convert-btn:active{
    transform: scale(0.98);
}

.unit-sect{
    background-color: #F4F4F4;
    display: grid;
    padding: 40px;
    width: 85vw;
    max-width: 600px;
    gap: 20px;
}

.length-sect, .volume-sect, .mass-sect{
    background-color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 5px auto;
    width: 70vw;
    max-width: 600px;
}

.length-title, .volume-title, .mass-title{
    color: #5A537B;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Conversion{
    color: #353535;
    font-size: 18px;
    font-weight: 400;
}

